# Real-world Data Wrangling

## Nhóm 3
---
#### Tên: Trịnh Đàm Huy
##### Mã SV: 221ITXXX
##### Lớp 21JIT
---
#### Tên: Phạm Quốc Phú
##### Mã SV: 221ITXXX
##### Lớp 21JIT
---
#### Tên: Phạm Hoàng Phúc
##### Mã SV: 21IT640
##### Lớp 21JIT

---

## 1. Gather data

### **1.1.** Problem Statement

This project aims to practice my skills of data wrangling using real-world datasets.

Your statements here

In this dataset, I would like to answer the following research questions:

---
##### Tên : XXXX XXXX XXXX

Câu hỏi 1:

Câu hỏi 2:

---
##### Tên : XXXX XXXX XXXX

Câu hỏi 3:

Câu hỏi 4:

---
##### Tên : XXXX XXXX XXXX

Câu hỏi 5:

Câu hỏi 6:

### **1.2.** Gather at least two datasets using two different data gathering methods

---
##### Tên: XXXX XXX XXXX

In [23]:
# import libraries
import pandas as pd

In [24]:
# read dataset games_info.csv
df_info = pd.read_csv('datasets/games_info.csv')
df_info

,app_id,rating,positive_ratio,user_reviews,price_final,price_original,discount
0,13500,Very Positive,84.0,2199.0,9.99,9.99,0.0
1,22364,Positive,85.0,21.0,2.99,2.99,0.0
2,113020,Very Positive,92.0,3722.0,14.99,14.99,0.0
3,226560,Mixed,61.0,873.0,14.99,14.99,0.0
4,249050,Very Positive,88.0,8784.0,11.99,11.99,0.0
...,...,...,...,...,...,...,...
50867,2296380,Very Positive,96.0,101.0,22.00,0.00,0.0
50868,1272080,Mostly Negative,38.0,29458.0,40.00,0.00,0.0
50869,1402110,Very Positive,89.0,1128.0,30.00,0.00,0.0
50870,2272250,Very Positive,95.0,82.0,17.00,0.00,0.0
50871,2488510,Very Positive,88.0,144.0,4.00,0.00,0.0

In [25]:
# read dataset games_platforms.csv
df_platforms = pd.read_csv('datasets/games_platforms.csv')
df_platforms

,app_id,title,date_release,win,mac,linux,steam_deck
0,13500,Prince of Persia: Warrior Within™,11/21/2008,True,False,False,True
1,22364,BRINK: Agents of Change,8/3/2011,True,False,False,True
2,113020,Monaco: What's Yours Is Mine,4/24/2013,True,True,True,True
3,226560,Escape Dead Island,11/18/2014,True,False,False,True
4,249050,Dungeon of the ENDLESS™,10/27/2014,True,True,False,True
...,...,...,...,...,...,...,...
50867,2296380,I Expect You To Die 3: Cog in the Machine,9/28/2023,True,False,False,True
50868,1272080,PAYDAY 3,9/21/2023,True,False,False,True
50869,1402110,Eternights,9/11/2023,True,False,False,True
50870,2272250,Forgive Me Father 2,10/19/2023,True,False,False,True
50871,2488510,FatalZone,10/23/2023,True,False,False,True

In [26]:
# read dataset games_categories.csv
df_categories = pd.read_csv('datasets/games_categories.csv')
df_categories

        app_id     genres player_support  indie
0        13500     Action   Singleplayer  False
1        22364     Action   Singleplayer  False
2       113020     Action    Multiplayer   True
3       226560     Action    Multiplayer  False
4       249050  Adventure   Singleplayer   True
...        ...        ...            ...    ...
50867  2296380        NaN   Singleplayer  False
50868  1272080        NaN   Singleplayer  False
50869  1402110        NaN   Singleplayer  False
50870  2272250     Action   Singleplayer  False
50871  2488510        NaN   Singleplayer  False

[50872 rows x 4 columns]

## 2. Assess data

I will assess the data both visually and programmatically to identify any data quality(content) issues and tidiness(structual) issues.

---
##### Tên: XXXX XXX XXXX

### Issue 1: Vấn đề gì đó trong file games_info

In [27]:
# check info dataset games_info

#### Observations:

- liệt kê cách giải quyết tại đây

---
##### Tên : XXX XXXXX XXX

### Issue 2: Vấn đề gì đó trong file games_platforms

In [28]:
# check info dataset games_platforms

#### Observations:

- liệt kê cách giải quyết tại đây

---
##### Tên: Phạm Hoàng Phúc

### Issue 3: Vấn đề gì đó trong file games_categories

#### Observations:

- liệt kê cách giải quyết tại đây

## 3. Clean data

Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step.

Make copies of the datasets

In [29]:
# make copy of dataset games_info

In [30]:
# make copy of dataset games_platforms

In [31]:
# make copy of dataset games_categories

---
##### Tên:

### Issue 1: Vấn đề gì đó trong file games_info

In [32]:
# Apply the cleaning strategys

In [33]:
# Validate the cleaning was successful

##### Justification:

---
##### Tên:

### Issue 2: Vấn đề gì đó trong file games_platforms

In [34]:
# Apply the cleaning strategys

In [35]:
# Validate the cleaning was successful

##### Justification:

---
##### Tên:

### Issue 3: Vấn đề gì đó trong file games_categories

In [36]:
# Apply the cleaning strategys

In [37]:
# Validate the cleaning was successful

##### Justification:

## 4. Merge and Store data

---
##### Tên:

#### Merge dataset game_info and games_platforms

In [38]:
# merge dataset games_info and games_platforms on app_id

---
##### Tên:

#### Merge dataset game_info and games_categories

In [39]:
# merge dataset games_info and games_categories on app_id

---
##### Tên:

#### Saving data

In [40]:
# save dataset

## 5. Visualizations and Communication

---
##### Tên:

#### Plot 1:

In [41]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

#### Plot 2:

In [42]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

---
##### Tên:

#### Plot 3:

In [43]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

#### Plot 4:

In [44]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

---
##### Tên:

#### Plot 5:

In [45]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

#### Plot 6:

In [46]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây