# Real-world Data Wrangling

## Nhóm 3
---
#### Tên: Trịnh Đàm Huy
##### Mã SV: 221ITXXX
##### Lớp 21JIT
---
#### Tên: Phạm Quốc Phú
##### Mã SV: 21IT099
##### Lớp 21JIT
---
#### Tên: Phạm Hoàng Phúc
##### Mã SV: 21IT640
##### Lớp 21JIT

---

## 0. User-defined functions

---
##### Tên: Phạm Quốc Phú

In [1]:
def check_dataset_info(df):
    print("Thông tin cơ bản của DataFrame:")
    print(df.info())

    print("\nCác cột của DataFrame:")
    print(df.columns)
    
    print("\nKích thước của DataFrame (số hàng, số cột):")
    print(df.shape)
    
    print("\nThống kê mô tả của DataFrame:")
    print(df.describe(include='all'))
    
    print("\nSố lượng giá trị null trong mỗi cột:")
    print(df.isnull().sum())
    
    print("\nSố lượng giá trị duy nhất trong mỗi cột:")
    print(df.nunique())

## 1. Gather data

### **1.1.** Problem Statement

This project aims to practice my skills of data wrangling using real-world datasets.

Your statements here

In this dataset, I would like to answer the following research questions:

---
##### Tên : XXXX XXXX XXXX

Câu hỏi 1:

Câu hỏi 2:

---
##### Tên : Phạm Quốc Phú

Câu hỏi 3: Trong số các trò chơi có sẵn cho Steam Deck, tỷ lệ trò chơi có đánh giá tích cực là bao nhiêu?

Câu hỏi 4: Nền tảng nào có game có giá gốc (price_original) cao nhất?

---
##### Tên : Phạm Hoàng Phúc

Câu hỏi 5: Mức độ tăng trưởng của các tựa game indie trong 10 năm gần đây như nào?

Câu hỏi 6: Trong năm 2022 thể loại game nào được phát triển nhiều nhất

### **1.2.** Gather at least two datasets using two different data gathering methods

---
##### Tên: XXXX XXX XXXX

In [2]:
# import libraries
import pandas as pd

In [3]:
# read dataset games_info.csv
df_info = pd.read_csv('datasets/games_info.csv')
df_info

,app_id,rating,positive_ratio,user_reviews,price_final,price_original,discount
0,13500,Very Positive,84.0,2199.0,9.99,9.99,0.0
1,22364,Positive,85.0,21.0,2.99,2.99,0.0
2,113020,Very Positive,92.0,3722.0,14.99,14.99,0.0
3,226560,Mixed,61.0,873.0,14.99,14.99,0.0
4,249050,Very Positive,88.0,8784.0,11.99,11.99,0.0
...,...,...,...,...,...,...,...
50867,2296380,Very Positive,96.0,101.0,22.00,0.00,0.0
50868,1272080,Mostly Negative,38.0,29458.0,40.00,0.00,0.0
50869,1402110,Very Positive,89.0,1128.0,30.00,0.00,0.0
50870,2272250,Very Positive,95.0,82.0,17.00,0.00,0.0
50871,2488510,Very Positive,88.0,144.0,4.00,0.00,0.0

In [4]:
# read dataset games_platforms.csv
df_platforms = pd.read_csv('datasets/games_platforms.csv')
df_platforms

,app_id,title,date_release,win,mac,linux,steam_deck
0,13500,Prince of Persia: Warrior Within™,11/21/2008,True,False,False,True
1,22364,BRINK: Agents of Change,8/3/2011,True,False,False,True
2,113020,Monaco: What's Yours Is Mine,4/24/2013,True,True,True,True
3,226560,Escape Dead Island,11/18/2014,True,False,False,True
4,249050,Dungeon of the ENDLESS™,10/27/2014,True,True,False,True
...,...,...,...,...,...,...,...
50867,2296380,I Expect You To Die 3: Cog in the Machine,9/28/2023,True,False,False,True
50868,1272080,PAYDAY 3,9/21/2023,True,False,False,True
50869,1402110,Eternights,9/11/2023,True,False,False,True
50870,2272250,Forgive Me Father 2,10/19/2023,True,False,False,True
50871,2488510,FatalZone,10/23/2023,True,False,False,True

In [5]:
# read dataset games_categories.csv
df_categories = pd.read_csv('datasets/games_categories.csv')
df_categories

        app_id     genres player_support  indie
0        13500     Action   Singleplayer  False
1        22364     Action   Singleplayer  False
2       113020     Action    Multiplayer   True
3       226560     Action    Multiplayer  False
4       249050  Adventure   Singleplayer   True
...        ...        ...            ...    ...
50867  2296380        NaN   Singleplayer  False
50868  1272080        NaN   Singleplayer  False
50869  1402110        NaN   Singleplayer  False
50870  2272250     Action   Singleplayer  False
50871  2488510        NaN   Singleplayer  False

[50872 rows x 4 columns]

## 2. Assess data

I will assess the data both visually and programmatically to identify any data quality(content) issues and tidiness(structual) issues.

---
##### Tên: Phạm Quốc Phú

### Issue 1: Datasets games_info - Cột Rating, positive_ratio, user_reviews, price_final, price_original và discount xuất hiện giá trị null, kiểu dữ liệu cột positive_ratio, user_reviews, discount không phù hợp

In [6]:
# check info dataset games_info
check_dataset_info(df_info)

Thông tin cơ bản của DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          50872 non-null  int64
 1   rating          50867 non-null  object
 2   positive_ratio  50868 non-null  float64
 3   user_reviews    50860 non-null  float64
 4   price_final     50831 non-null  float64
 5   price_original  50840 non-null  float64
 6   discount        50864 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 2.7+ MB
None

Các cột của DataFrame:
Index(['app_id', 'rating', 'positive_ratio', 'user_reviews', 'price_final',
       'price_original', 'discount'],
      dtype='object')

Kích thước của DataFrame (số hàng, số cột):
(50872, 7)

Thống kê mô tả của DataFrame:
              app_id    rating  positive_ratio  user_reviews   price_final  \
count   5.087200e+04     50867    50868.000000  5.086000e+04  50831.000000
unique           NaN         9             NaN           NaN           NaN
top              NaN  Positive             NaN           NaN           NaN
freq             NaN     13501             NaN           NaN           NaN
mean    1.055224e+06       NaN       77.051919  1.824388e+03      8.618137
std     6.103249e+05       NaN       18.254088  4.007822e+04     11.516448
min     1.000000e+01       NaN        0.000000  1.000000e+01      0.000000
25%     5.287375e+05       NaN       67.000000  1.900000e+01      0.990000
50%     9.860850e+05       NaN       81.000000  4.900000e+01      4.990000
75%     1.524895e+06       NaN       91.000000  2.060000e+02     10.990000
max     2.599300e+06       NaN      100.000000  7.494460e+06    299.990000

        price_original      discount
count     50840.000000  50864.000000
unique             NaN           NaN
top                NaN           NaN
freq               NaN           NaN
mean          8.722491      5.592108
std          11.502193     18.606985
min           0.000000      0.000000
25%           0.990000      0.000000
50%           4.990000      0.000000
75%          11.990000      0.000000
max         299.990000     90.000000

Số lượng giá trị null trong mỗi cột:
app_id             0
rating             5
positive_ratio     4
user_reviews      12
price_final       41
price_original    32
discount           8
dtype: int64

Số lượng giá trị duy nhất trong mỗi cột:
app_id            50872
rating                9
positive_ratio      100
user_reviews       4844
price_final         435
price_original      183
discount             75
dtype: int64

#### Observations:

- Đổi kiểu dữ liệu positive_ratio, user_reviews, discount sang kiểu int16
- Ở cột rating thay thế giá trị null thành giá trị xuất hiện nhiều nhất
- Ở các cột positive_ratio, user_reviews, price_final, price_original và discount thay thế bằng giá trị trung bình

---
##### Tên : XXX XXXXX XXX

### Issue 2: Vấn đề gì đó trong file games_platforms

In [7]:
# check info dataset games_platforms

#### Observations:

- liệt kê cách giải quyết tại đây

---
##### Tên: Phạm Hoàng Phúc

### Issue 3: Dataset game_categories: Cột genres có chứa các giá trị null

In [8]:
# show first 5 rows
df_categories.head(5)

   app_id     genres player_support  indie
0   13500     Action   Singleplayer  False
1   22364     Action   Singleplayer  False
2  113020     Action    Multiplayer   True
3  226560     Action    Multiplayer  False
4  249050  Adventure   Singleplayer   True

In [9]:
# check info dataset games_categories
check_dataset_info(df_categories)

Thông tin cơ bản của DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          50872 non-null  int64
 1   genres          44575 non-null  object
 2   player_support  50872 non-null  object
 3   indie           50872 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 1.2+ MB
None

Các cột của DataFrame:
Index(['app_id', 'genres', 'player_support', 'indie'], dtype='object')

Kích thước của DataFrame (số hàng, số cột):
(50872, 4)

Thống kê mô tả của DataFrame:
              app_id  genres player_support  indie
count   5.087200e+04   44575          50872  50872
unique           NaN       6              2      2
top              NaN  Action   Singleplayer   True
freq             NaN   21897          44297  27957
mean    1.055224e+06     NaN            NaN    NaN
std     6.103249e+05     NaN            NaN    NaN
min     1.000000e+01     NaN            NaN    NaN
25%     5.287375e+05     NaN            NaN    NaN
50%     9.860850e+05     NaN            NaN    NaN
75%     1.524895e+06     NaN            NaN    NaN
max     2.599300e+06     NaN            NaN    NaN

Số lượng giá trị null trong mỗi cột:
app_id               0
genres            6297
player_support       0
indie                0
dtype: int64

Số lượng giá trị duy nhất trong mỗi cột:
app_id            50872
genres                6
player_support        2
indie                 2
dtype: int64

#### Observations:

- Thay đổi các giá trị null trong cột genres thành 'Other'

## 3. Clean data

Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step.

Make copies of the datasets

In [10]:
# make copy of dataset games_info
df_info_copy = df_info.copy()

In [11]:
# make copy of dataset games_platforms
df_platforms_copy = df_platforms.copy()

In [12]:
# make copy of dataset games_categories
df_categories_copy = df_categories.copy()

---
##### Tên: Phạm Quốc Phú

### Issue 1: Datasets games_info - Cột Rating, positive_ratio, user_reviews, price_final, price_original và discount xuất hiện giá trị null, kiểu dữ liệu cột positive_ratio, user_reviews, discount không phù hợp

In [13]:
# In the rating column, replace the null value with the value that appears most often
df_info['rating'].fillna(df_info['rating'].mode()[0], inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_19876\406404285.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_info['rating'].fillna(df_info['rating'].mode()[0], inplace=True)

In [14]:
# Validate the cleaning was successful
df_info.isnull().sum()

app_id             0
rating             0
positive_ratio     4
user_reviews      12
price_final       41
price_original    32
discount           8
dtype: int64

In [15]:
# In positive_ratio, user_reviews, price_final, price_original and discount, replace null value with mean value
columns_to_fill = ['positive_ratio', 'user_reviews', 'price_final', 'price_original', 'discount']
df_info[columns_to_fill] = df_info[columns_to_fill].fillna(df_info[columns_to_fill].mean())

In [16]:
df_info.isnull().sum()

app_id            0
rating            0
positive_ratio    0
user_reviews      0
price_final       0
price_original    0
discount          0
dtype: int64

In [17]:
# Change data type of positive_ratio, user_reviews, discount from float64 to int16
df_info[['positive_ratio', 'user_reviews', 'discount']] = df_info[['positive_ratio', 'user_reviews', 'discount']].astype('int16')

In [18]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          50872 non-null  int64
 1   rating          50872 non-null  object
 2   positive_ratio  50872 non-null  int16
 3   user_reviews    50872 non-null  int16
 4   price_final     50872 non-null  float64
 5   price_original  50872 non-null  float64
 6   discount        50872 non-null  int16
dtypes: float64(2), int16(3), int64(1), object(1)
memory usage: 1.8+ MB

##### Justification:
- Ở cột rating có kiểu dữ liệu là object nên chọn thay thế missing value bằng giá trị xuất hiện nhiều nhất
- Ở các cột positive_ratio, user_reviews, price_final, price_original và discount đều có kiểu dữ liệu số nên chọn thay thế missing value bằng giá trị trung bình
- Ở các cột positive_ratio, user_reviews và discount dữ liệu trong dataset đều nằm trong khả năng biểu diễn của kiểu dữ liệu int16 nên đổi từ kiểu float64 sang int16

---
##### Tên:

### Issue 2: Vấn đề gì đó trong file games_platforms

In [19]:
# Apply the cleaning strategys

In [20]:
# Validate the cleaning was successful

##### Justification:

---
##### Tên: Phạm Hoàng Phúc

### Issue 3: Dataset game_categories: Cột genres có chứa các giá trị null

In [21]:
# replace the null value in genres with 'Other' 
df_categories_copy.fillna({'genres': 'Other'}, inplace=True)

In [22]:
# Validate the cleaning was successful
df_categories_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          50872 non-null  int64
 1   genres          50872 non-null  object
 2   player_support  50872 non-null  object
 3   indie           50872 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 1.2+ MB

##### Justification:
- Cột genres thể hiện thể loại của các game nên sẽ thay các hàng null bằng 'Ohter'

## 4. Merge and Store data

---
##### Tên:

#### Merge dataset game_info and games_platforms

In [23]:
# merge dataset games_info and games_platforms on app_id
df_merge_1 = pd.merge(df_info_copy, df_platforms_copy, on='app_id')

---
##### Tên:

#### Merge dataset game_info and games_categories

In [24]:
# merge dataset games_info and games_categories on app_id
df_merge_2 = pd.merge(df_merge_1, df_categories_copy, on='app_id')

---
##### Tên:

#### Saving data

In [25]:
# save dataset to csv
df_merge_2.to_csv('games.csv', index=False)

## 5. Visualizations and Communication

---
##### Tên:

#### Plot 1:

In [26]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

#### Plot 2:

In [27]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

---
##### Tên:

#### Plot 3:

In [28]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

#### Plot 4:

In [29]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

---
##### Tên:

#### Plot 5:

In [30]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây

#### Plot 6:

In [31]:
# create plot here

#### Justifications:

- Liệt kê những nhận xét tại đây