# Real-world Data Wrangling
### Fullname: Phạm Quốc Phú
### ID:21IT099
### Class: 21JIT

## 1. Gather data

### **1.1.** Problem Statement

This project aims to practice my skills of data wrangling using real-world datasets. 

Your statements here

In this dataset, I would like to answer the following research questions:

Question 1: Mức giá trung bình từng phòng ngủ

Question 2: Phân phối của số lượng chỗ ở có thể tiếp đón (accommodates)

### **1.2.** Gather at least two datasets using two different data gathering methods

Gather each of the 2 pieces of data from different sources:

In [2]:
# import libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Load dataset
df1 = pd.read_csv('datasets/games1.csv')

In [4]:
#FILL IN 2nd data gathering and loading method
df2 = pd.read_csv('datasets/games2.csv')

In [4]:
# Write data to local file 
# df_ca.to_csv('calendar_clean.csv', index=False)
# df_list.to_csv('listing_clean.csv', index=False)

In [143]:
#Funtion to print information of dataframe - Pham Quoc Phu
def check_dataset_info(df):
    print("Thông tin cơ bản của DataFrame:")
    print(df.info())
    
    print("\nCác cột của DataFrame:")
    print(df.columns)
    
    print("\nKích thước của DataFrame (số hàng, số cột):")
    print(df.shape)

## 2. Assess data

I will assess the data both visually and programmatically to identify any data quality(content) issues and tidiness(structual) issues.

### Issue 1: Dataset 1 - Kiểu dữ liệu cột date_release.

In [139]:
#FILL IN - Inspecting the dataframe visually
df1.sample(5)

,app_id,title,date_release,win,mac,linux,steam_deck
34460,791430,THE ARCHER: Dead Hunt,2/6/2018,True,False,False,True
4437,1585400,Gjallarhorn,1/10/2023,True,False,False,True
36590,1137490,Invasion 2037,11/5/2019,True,False,False,True
6892,332610,Mystik Belle,5/22/2015,True,False,True,True
42386,1760020,GROUND-UNBOUND,10/7/2021,True,False,False,True

In [144]:
#FILL IN - Inspecting the dataframe programmatically
check_dataset_info(df1)

Thông tin cơ bản của DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   app_id        50872 non-null  int64
 1   title         50872 non-null  object
 2   date_release  50861 non-null  object
 3   win           50832 non-null  object
 4   mac           50821 non-null  object
 5   linux         50848 non-null  object
 6   steam_deck    50860 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.7+ MB
None

Các cột của DataFrame:
Index(['app_id', 'title', 'date_release', 'win', 'mac', 'linux', 'steam_deck'], dtype='object')

Kích thước của DataFrame (số hàng, số cột):
(50872, 7)

#### Observations:

- Chuyển kiểu dữ liệu cột date_release sang kiểu date/time

### Issue 2: Dataset 1 - Cột date_release, win, mac, linux và steam_deck chứa nhiều giá trị null.

In [147]:
df1.isna().sum()

app_id           0
title            0
date_release    11
win             40
mac             51
linux           24
steam_deck      12
dtype: int64

#### Observations:

- Lấy giá trị xuất hiện nhiều nhất ở các cột thay thế cho giá trị null.

### Issue 3: Dataset 1 - Kiểu dữ liệu các cột win, mac, linux và steam_deck

In [148]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   app_id        50872 non-null  int64
 1   title         50872 non-null  object
 2   date_release  50861 non-null  object
 3   win           50832 non-null  object
 4   mac           50821 non-null  object
 5   linux         50848 non-null  object
 6   steam_deck    50860 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.7+ MB

#### Observations:

- Chuyển kiểu dữ liệu các cột sang kiểu boolean

### Issue 4: Dataset 2 - Dữ liệu chưa phù hợp

In [9]:
#FILL IN - Inspecting the dataframe visually

,id,name,summary,space,description,host_id,host_name,neighbourhood_group_cleansed,city,country_code,...,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price
0,241032,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,956883,Maija,Queen Anne,Seattle,US,...,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00
1,953595,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,5177328,Andrea,Queen Anne,Seattle,US,...,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",NaN,$150.00
2,3308979,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,16708587,Jill,Queen Anne,Seattle,US,...,House,Entire home/apt,11,4.5,5.0,7.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$975.00
3,7421966,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,9851441,Emily,Queen Anne,Seattle,US,...,Apartment,Entire home/apt,3,1.0,0.0,2.0,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",NaN,$100.00
4,278830,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,1452570,Emily,Queen Anne,Seattle,US,...,House,Entire home/apt,6,2.0,3.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",NaN,$450.00

In [10]:
#FILL IN - Inspecting the dataframe programmatically
df_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            3818 non-null   int64
 1   name                          3818 non-null   object
 2   summary                       3641 non-null   object
 3   space                         3249 non-null   object
 4   description                   3818 non-null   object
 5   host_id                       3818 non-null   int64
 6   host_name                     3816 non-null   object
 7   neighbourhood_group_cleansed  3818 non-null   object
 8   city                          3818 non-null   object
 9   country_code                  3818 non-null   object
 10  country                       3818 non-null   object
 11  property_type                 3817 non-null   object
 12  room_type                     3818 non-null   object
 13  accommodates                  3818 non-null   int64
 14  bathrooms                     3802 non-null   float64
 15  bedrooms                      3812 non-null   float64
 16  beds                          3817 non-null   float64
 17  bed_type                      3818 non-null   object
 18  amenities                     3818 non-null   object
 19  square_feet                   97 non-null     float64
 20  price                         3818 non-null   object
dtypes: float64(4), int64(3), object(14)
memory usage: 626.5+ KB

#### Observations:

- Đổi tên cột id thành listing_id
- Sửa giá trị cột price

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. 

Make copies of the datasets

### **Issue 1: Dataset 1 - Kiểu dữ liệu không phù hơp.**

In [12]:
#Chuyển kiểu dữ liệu cột date sang date/time
df_ca['date'] = pd.to_datetime(df_ca['date'])

Justification: *FILL IN*

### Issue 2: Dataset 1 - Dữ liệu cột price không phù hợp.

In [13]:
#Lấy giá trị số trong cột price
df_ca['price'] = df_ca['price'].str.replace('$','')
#Chuyển kiểu dữ liệu cột price sang float
df_ca['price'] = df_ca['price'].str.replace(',','').astype(float)

In [14]:
#FILL IN - Validate the cleaning was successful
df_ca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1048575 non-null  int64
 1   date        1048575 non-null  datetime64[ns]
 2   available   1048575 non-null  object
 3   price       699862 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 32.0+ MB

### Issue 3: Dataset 1 - Cột price chứa giá trị null

In [15]:
#Thay thế giá trị null bằng giá trị trung bình của cột price
df_ca['price'].fillna(df_ca['price'].mean(), inplace=True)

In [16]:
# Validate the removing cloumn was successful
df_ca.isnull().sum()

listing_id    0
date          0
available     0
price         0
dtype: int64

Justification:

### Issue 4: Dataset 2 - Dữ liệu chưa phù hợp

In [17]:

df_list['price'] = df_list['price'].str.replace('$','')
#Chuyển kiểu dữ liệu cột price sang float
df_list['price'] = df_list['price'].str.replace(',','').astype(float)
#Thay thế giá trị null bằng giá trị trung bình của cột price
df_list['price'].fillna(df_ca['price'].mean(), inplace=True)

In [18]:
#FILL IN - Validate the cleaning was successful

Justifications

### **Remove unnecessary variables and combine datasets if needed**

In [19]:
#FILL IN - Remove unnecessary variables and combine datasets

Remove unnecessary columns

In [20]:
df_list.drop(['summary', 'space', 'host_name', 'country_code', 'country', 'square_feet', 'description', 'square_feet'], axis=1, inplace=True)

Rename columns if needed

In [21]:
#Đổi tên cột id thành listing_id
df_list.rename(columns={'id':'listing_id'}, inplace=True)

#### Merge 2 dataset if needed

In [22]:
#Merge 2 dataset listing and calendar depend on listing_id
df = pd.merge(df_list, df_ca, on='listing_id')
df.head(2)

,listing_id,name,host_id,neighbourhood_group_cleansed,city,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price_x,date,available,price_y
0,241032,Stylish Queen Anne Apartment,956883,Queen Anne,Seattle,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",85.0,2016-01-04,t,85.0
1,241032,Stylish Queen Anne Apartment,956883,Queen Anne,Seattle,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",85.0,2016-01-05,t,85.0

## 4. Update your data store
Update the database/data store with the cleaned data

In [23]:
#FILL IN - saving data
df.to_csv('airbnb_clean.csv', index=False)

#### SUBMISSION

After completion, export the notebook as an HTML file for the project submission using the File > Download as... > HTML or PDF menu option.

Submit file “my_Project.html” to Final Project includes:

    1. my_Project.html

## PROJECT 1 STOPS HERE



## PROJECT 2

## 5. Answer the research question

### **5.1:** Define and answer the research question

* Question 1:

In [24]:
#Visual 1 - FILL IN

Justifications

 Question 2:

In [25]:
#Visual 2 - FILL IN

Justifications

Question n:

Justifications

### **5.2:** Reflection

After all steps above, I have the clean datasets and answer the research questions.
By using research questions, We can know the number infected cases in states, the death rate and the anomaly data.

In the future, I will look into the anomaly of the death and I will calculate the number of increasing or decreasing infected cases.
Further more, I will check the data in some columns such

#### SUBMISSION

After completion, export the notebook as an HTML file for the project submission using the File > Download as... > HTML or PDF menu option.

Submit file “my_Project.zip” to Final Project includes:

    1. my_Project.html
    2. my _Project.ipynb